{% extends 'base.html.twig' %}

{% block content %}
    {% if orders %}
        <h1>{{ message }}</h1>
        {% if form %}
            {{ form_start(form) }}
            {{ form_widget(form) }}
            {{ form_end(form) }}
        {% endif %}
        <br>
        <table>
            <tr>
                <th>Date ordered</th>
                <th>License plate</th>
                <th>Is order completed</th>
                <th>Date completed</th>
            </tr>
            {% for order in orders %}
                <tr>
                    <td>
                        {{ order.orderDate|date('Y-m-d H:i:s') }}
                    </td>
                    <td>
                        {{ order.car.licensePlate }}
                    </td>
                    {% if order.completed %}
                        <td>Yes</td>
                        <td>
                            {{ order.orderEndDate|date('Y-m-d H:i:s') }}
                        </td>
                    {% else %}
                        <td>No</td>
                        <td></td>
                    {% endif %}
                    <td>
                        <a class="modern" href="/admin/orders/{{ order.id }}" >Details</a>
                    </td>
                </tr>
            {% endfor %}
        </table>
    {% else %}
        <h1>There are no orders placed!</h1>
        {% if form %}
            {{ form_start(form) }}
            {{ form_widget(form) }}
            {{ form_end(form) }}
        {% endif %}
    {% endif %}
{% endblock %}