{% extends 'base.html.twig' %}
{% block content %}
    {% if services %}
        <table>
            <thead>
                <tr>
                    <th>Service</th>
                    <th>Price</th>
                </tr>
            </thead>
            <tbody>
            {% for service in services %}
                <tr>
                    <td>{{ service.title }}</td>
                    <td>{{ service.price }} €</td>
                    <td>
                        <a href="{{ path('Services') }}/{{ service.id }}"
                           class = modern>Details</a>
                        <a href="Services/edit/{{ service.id }}"
                           class = modern>Edit</a>
                        <a href="#" data-id="{{ service.id }}"
                           class=danger>Remove</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <a href="{{ path('new_service') }}" class = modern>Create new service</a>
    {% else %}
        <p>No Services</p>
    {% endif %}
{% endblock %}