{% extends 'base.html.twig' %}

{% block content %}
    {% if workers %}
        <h1>List of workers:</h1>
        <table>
            <tr>
                <th>Name</th>
                <th>Surname</th>
                <th>Email</th>
            </tr>
            {% for worker in workers %}
                <tr>
                    <td>{{ worker.name }}</td>
                    <td>{{ worker.SecondName }}</td>
                    <td>{{ worker.email }}</td>
                    <td><a class="danger" href="/workers/remove{{ worker.id }}" >Remove</a></td>
                </tr>
            {% endfor %}
        </table>
        <br>
    {% else %}
        <h1>There are no workers to display!</h1>
    {% endif %}
    <a class="modern" href="{{ path('add_worker') }}" >Add a new worker</a>
{% endblock %}