<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="stylesheet" href="{{ asset('css/base.css') }}">
        {% block stylesheets %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </head>
    <body>
        <div class="header">
            <p class="logo">Logo missing here</p>
            <ul class="head">
                {% if not app.user %}
                <li class="headBtn"><a href="{{ path('login') }}">Login</a></li>
                <li class="headBtn"><a href="{{ path('register') }}">Register</a></li>
                {% elseif app.user.username != null %}
                    <li class="headBtn"><a href="{{ path('logout') }}">Logout</a></li>
                    <li class="headBtn"><a>Logged as {{ app.user.username }}</a></li>
                {% endif %}
            </ul>
        </div>
        {% if app.user %}
        <div class="navigation">
            <ul class="nav">
                {% block nav %}
                    {% set route = app.request.get('_route')|lower %}
                    <li class="navBtn"><a class="{{ 'homepage' in route ? 'active' }}" href="{{ path('homepage') }}">Home</a></li>
                    {% if is_granted('ROLE_USER') %}
                    <li class="navBtn"><a class="{{ 'register' in route ? 'active' }}" href="#registercar">Register a car</a></li>
                    <li class="navBtn"><a class="{{ 'progress' in route ? 'active' }}" href="#progress">Check progress</a></li>
                    {% elseif is_granted("ROLE_WORKER") or is_granted("ROLE_ADMIN") %}
                    <li class="navBtn"><a class="{{ 'client' in route ? 'active' }}" href="#progress">Clients</a></li>
                    <li class="navBtn"><a class="{{ 'user' in route ? 'active' }}" href="#users">Remaining jobs</a></li>
                    {% endif %}
                    {% if is_granted("ROLE_ADMIN") %}
                    <li class="navBtn"><a class="{{ 'worker' in route ? 'active' }}" href="{{ path('workers') }}">See list of workers</a></li>
                    <li class="navBtn"><a class="{{ 'service' in route ? 'active' }}" href="{{ path('Services') }}">See list of services</a></li>
                    {% endif %}
                {% endblock %}
            </ul>
        </div>
        {% endif %}
        <div class="content"> {% block content %}{% endblock %} </div>
    </body>
</html>
