{% extends 'base.html.twig' %}

{% block content %}

    <h1>{{ title }}</h1>
    {% if services != null %}
        {% if form %}
        {{ form_start(form) }}
        {{ form_widget(form) }}
        {{ form_end(form) }}
        {% endif %}
        <br>
        <form action="" method="get">
            <table>
                <thead>
                    <tr>
                        {% if is_granted("ROLE_ADMIN") %}<th>Worker name</th>{% endif %}
                        <th>Service name</th>
                        <th>Car</th>
                        <th>Status</th>
                        <th>Date last changed</th>
                        <th>Note</th>
                    </tr>
                </thead>
                {% for service in services %}
                    <tr>
                        {% if is_granted("ROLE_ADMIN") %}
                            <td>
                                <select name="worker_{{ service.id }}">
                                    {% if service.worker != null %}
                                        {% for worker in workers %}
                                            <option value="{{ worker.id }}" {% if service.worker.id == worker.id %}selected="selected"{% endif %}>
                                                {{ worker.name }} {{ worker.secondName }}</option>
                                        {% endfor %}
                                    {% else %}
                                        <option value=-1 selected="selected">Worker not assigned!</option>
                                        {% for worker in workers %}
                                            <option value="{{ worker.id }}">{{ worker.name }} {{ worker.secondName }}</option>
                                        {% endfor %}
                                    {% endif %}
                                </select>
                            </td>
                        {% endif %}
                        <td>
                            <a href="/Services/{{ service.service.id }}">{{ service.service.title }}</a>
                        </td>
                        <td>{{ service.order.car.licensePlate }}</td>
                        <td>
                            <select name="status_{{ service.id }}">
                                <option {%  if service.status == "Waiting" %} selected="selected" {% endif %} value="Waiting">Waiting</option>
                                <option {%  if service.status == "In progress" %} selected="selected" {% endif %} value="In progress">In progress</option>
                                <option {%  if service.status == "Done!" %} selected="selected" {% endif %} value="Done!">Done!</option>
                            </select>
                        </td>
                        <td>{{ service.lastChangeDate|date('Y-m-d H:i:s') }}</td>
                        <td><input type="text" name="note_{{ service.id }}" value="{{ service.note }}"></td>
                    </tr>
                {% endfor %}
            </table>
            <br>
            <button type="submit" class="modern">Submit changes</button>
        </form>
        <hr>
        <button class="modern" onclick="history.go(-1);">Go Back</button>
    {% else %}
        <p>There are no ordered services!</p>
        {% if form %}
            {{ form_start(form) }}
            {{ form_widget(form) }}
            {{ form_end(form) }}
        {% endif %}
    {% endif %}

{% endblock %}