{% extends 'base.html.twig' %}

{% block content %}
    {% if services %}
    <h1>{{ message }}</h1>
    <form action="" method="get">
    <table>
        <tr>
            <th>Worker name</th>
            <th>Service name</th>
            <th>Status</th>
            <th>Date last changed</th>
        </tr>
        {% for service in services %}
            <tr>
                <td>
                    <select name="worker_{{ service.id }}">
                        {% if service.worker != null %}
                            <option value="{{ service.worker.id }}" selected="selected">
                                {{ service.worker.name }} {{ service.worker.secondName }}</option>
                        {% endif %}
                        {% for worker in workers %}
                                <option value="{{ worker.id }}">{{ worker.name }} {{ worker.secondName }}</option>
                        {% endfor %}
                    </select>
                </td>
                <td>
                    {{ service.service.title }}
                </td>
                <td>
                    <select name="status_{{ service.id }}">
                        <option {%  if service.status == "Waiting" %} selected="selected" {% endif %} value="Waiting">Waiting</option>
                        <option {%  if service.status == "In progress" %} selected="selected" {% endif %} value="In progress">In progress</option>
                        <option {%  if service.status == "Done!" %} selected="selected" {% endif %} value="Done!">Done!</option>
                    </select>
                </td>
                <td>
                    {{ service.lastChangeDate|date('Y-m-d H:i:s') }}
                </td>
            </tr>
        {% endfor %}
    </table>
        <br>
        <button type="submit" class="modern">Submit changes</button>
    </form>
    {% else %}
        <h1>There are no services placed for this order!</h1>
    {% endif %}
{% endblock %}