{% extends 'base.html.twig' %}

{% block content %}
    {% for message in app.flashes('notice') %}
        <div style="font-size: 20px; color: green; margin-bottom: 20px;">
            {{ message }}
        </div>
    {% endfor %}
    {{ form_start(form) }}
    {{ form_errors(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}
    <a href="{{ path('myProfile_changePassword') }}" class="modern" style="margin-top: 10px;">Change password</a>

{% endblock %}