{% extends 'base.html.twig' %}
{% block content %}
    {% if step == 1 %}
        {% for message in app.flashes('warning') %}
            <div class="flashes-warning">{{ message }}</div>
        {% endfor %}
        {{ form_start(form1) }}
        <div class="control-group">
            <label class="control-label">Select time for service:</label>
            <div class="controls input-append date form_datetime" data-link-field="services_order_orderDate" data-link-format="yyyy-mm-dd hh:ii">
                <input type="text" value="" readonly>
                <span class="add-on"><i class="icon-remove"></i></span>
                <span class="add-on"><i class="icon-th"></i></span>
            </div>
        </div>
        {{ form_errors(form1) }}
        {{ form_widget(form1) }}
        {{ form_end(form1) }}
    {% elseif step == 2 %}
        <p>Congratulations! You are successfully register car to service.</p>
        <p>It is your information:</p>
        <h2>Selected car: {{ order.car.licensePlate }}, Date: {{ order.orderDate|date('Y-m-d H:i:s') }}</h2>
        <p>Selected services:</p>
        <table>
            <thead>
            <tr>
                <th>Service</th>
                <th>Price</th>
            </tr>
            </thead>
            <tbody>
            {% set allPrice = 0 %}
            {% for service in services['selectedService'] %}
                <tr>
                    <td>{{ service.title }}</td>
                    <td>{{ service.price }} €</td>
                    {% set allPrice = allPrice + service.price %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <p>Preliminary price: {{ allPrice }} €</p>
        <hr>
        <a href="{{ path('order') }}" class = modern>Go Back</a>
    {% endif %}
    <script type="text/javascript">
        $('.form_datetime').datetimepicker({
            weekStart: 1,
            todayBtn:  0,
            autoclose: 1,
            todayHighlight: 1,
            startView: 2,
            forceParse: 0,
            showMeridian: 0,
            daysOfWeekDisabled: [0,6],
            initialDate: null,
            minuteStep: 30,
            onRenderDay: function(date) {
                {% for date in limitDates %}
                if (date.getDate() === {{ date|date('d') }} && date.getUTCMonth() === {{ date|date('m') }} - 1 && date.getFullYear() === {{ date|date('Y') }})
                    return ['disabled'];
                {% endfor %}
            },
            onRenderMinute: function(date) {
                {% for date in allDates %}
                if (date.getDate() === {{ date|date('d') }} && date.getUTCMonth() === {{ date|date('m') }} - 1 && date.getFullYear() === {{ date|date('Y') }}
                    && date.getUTCHours() === {{ date|date('H') }} && date.getUTCMinutes() === {{ date|date('i') }})
                    return ['disabled'];
                {% endfor %}
            }
        });
    </script>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="{{ asset('jquery/jquery-1.8.3.min.js') }}" charset="UTF-8"></script>
    <script type="text/javascript" src="{{ asset('bootstrap/js/bootstrap.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/bootstrap-datetimepicker.js') }}" charset="UTF-8"></script>
    <script type="text/javascript" src="{{ asset('js/locales/bootstrap-datetimepicker.fr.js') }}" charset="UTF-8"></script>
{% endblock %}

{% block stylesheets %}
    <link href="{{ asset('bootstrap/css/bootstrap.min.css') }}" rel="stylesheet" media="screen">
    <link href="{{ asset('css/bootstrap-datetimepicker.min.css') }}" rel="stylesheet" media="screen">
{% endblock %}